<div class="card">
  <div class="card-header">Nouveau echantillion</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="selectPatient">Sélectionner un patient</label>
        <select class="form-control" id="selectPatient">
            <option>Patient 1</option>
            <option>Patient 2</option>
            <option>Patient 3</option>
            <option>Patient 4</option>
            <option>Patient 5</option>
        </select>
    </div>
    <div class="form-group">
      <label for="selectPatient">Sélectionner un Utilisateur</label>
      <select class="form-control" id="selectPatient">
          <option>Utilisateur 1</option>
          <option>Utilisateur 2</option>
          <option>Utilisateur 3</option>
          <option>Utilisateur 4</option>
          <option>Utilisateur 5</option>
      </select>
  </div>

		<div class="input-group">
      <label for="selectPatient">Sélectionner une Date Reception </label>
    <div></div>
			<input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp"
				ngbDatepicker
				#d="ngbDatepicker"
			/>
			<button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
		</div>
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </form>
  </div>
</div>
