<div class="container-fluid mt-n10">
    <div class="card mb-4">
      <div class="card-header">Gestion des Analyses</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-hover  table-striped item-center" 
            width="100%" >
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom de l 'anlyse</th>
                <th>Créé le</th>
                <th>Plus d'informations</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody >
  
              <tr *ngFor="let analyse of analyses">
                <td class="align-middle">{{analyse.id}}</td>
                <td class="align-middle">{{analyse.nom}}</td>
                <td class="align-middle">{{analyse.createdAt | date:'yyyy/MM/dd'}}</td>
                <td class="align-middle">

                  <button class="btn btn-outline-primary" type="button" data-toggle="modal" [attr.data-target]="'#exampleModalLg' + analyse.id">plus d'infos</button>
                  <div class="modal fade" [id]="'exampleModalLg' + analyse.id" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title">{{analyse.nom}}</h5>
                                  <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body">
                                <div *ngFor="let typeAnalyse of analyse.typeAnalyse ">
                                    <h3>{{typeAnalyse.nom}}</h3>
                                    <ul>
                                      <li *ngFor="let test of typeAnalyse.tests">
                                        {{test.nom}} - 
                                        <span>Unité: <strong>{{test.unit}}</strong></span> - 
                                        <span>Min: <strong>{{test.minValue}}</strong></span> - 
                                        <span>Max: <strong>{{test.maxValue}}</strong></span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                              <div class="modal-footer"><button class="btn btn-primary" type="button" data-dismiss="modal">Close</button></div>
                          </div>
                      </div>
                  </div>
                </td>
      
        
  
                <td class="align-middle">
                  <a type="button" class="btn btn-secoondary btn-sm mr-2">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                  <button type="button" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-trash"></i>
                  </button>
          
  
                </td>
              </tr>
  
            </tbody>
          </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
