<div class="container-fluid mt-n10">
    <div class="card mb-4">
      <div class="card-header">Gestion des Reactifs</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="container mt-4">
              <a routerLink="/addReactif" class="btn btn-light my-3">
                <i class="fas fa-plus"></i>
              </a>

              <table class="table table-bordered text-center" >
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Quantite in Stock</th>
                    <th scope="col">Date d'expiration</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reactif of reactifPages[currentPage]" >
                    <td>{{reactif.nom}}</td>
                    <td>{{reactif.description}}</td>
                    <td> <ng-container *ngIf="fournisseurs[reactifs.indexOf(reactif)]">
                      {{ fournisseurs[reactifs.indexOf(reactif)].nom }}
                    </ng-container></td>
                    <td>{{reactif.quantite}}</td>
                    <td>{{ reactif.dateExpiration | date:'yyyy/MM/dd' }}</td>
                 
                    <td>
                      <a [routerLink]="'/updateReactif/' + reactif.idReactif" class="btn btn-secoondary btn-sm mr-2" title="Modifier">
                        <i class="fa fa-pencil-alt"></i>
                      </a>
                      <button  (click)="confirmAndDelete(reactif)"  class="btn btn-outline-danger btn-sm" title="Supprimer">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <button (click)="previousPage()" [disabled]="currentPage === 0" class="btn btn-outline-primary mr-2">
                  <i class="fas fa-chevron-left"></i> 
                </button>
                <button (click)="nextPage()" [disabled]="currentPage === reactifPages.length - 1" class="btn btn-outline-primary">
                   <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  