<div class="container-fluid mt-n10">
  <div class="card mb-4">
    <div class="card-header">Gestion des Fournisseur</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
            <a routerLink="/addSupplier" class="btn btn-light my-3">
                <i class="fas fa-plus"></i>
              </a>
            <table class="table table-bordered" >
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let fournisseurItem of fournisseurs"> -->
                   <tr *ngFor="let fournisseurItem of fournisseursPages[currentPage]">
                    <td>{{ fournisseurItem.nom }}</td>
                    <td>{{ fournisseurItem.adresse }}</td>
                    <td>{{ fournisseurItem.tel }}</td>
                    <td>
                      <a [routerLink]="'/updateSupplier/' + fournisseurItem.idFournisseur" class="btn btn-secoondary btn-sm mr-2" title="Modifier">
                        <i class="fa fa-pencil-alt"></i>
                      </a>
                      <button (click)="confirmAndDelete(fournisseurItem)"  class="btn btn-outline-danger btn-sm" title="Supprimer">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <button (click)="previousPage()" [disabled]="currentPage === 0" class="btn btn-outline-primary mr-2">
                  <i class="fas fa-chevron-left"></i> 
                </button>
                <button (click)="nextPage()" [disabled]="currentPage === fournisseursPages.length - 1" class="btn btn-outline-primary">
                   <i class="fas fa-chevron-right"></i>
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
