  <div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
      <div class="sidenav-menu">
        <div class="nav accordion" id="accordionSidenav">
          <app-sidebar-items
          icon="users"
            [routes]="[
              { name: 'Ajouter nouveau Patient', path: '/addPatient' },
              { name: 'Gestion des Patients', path: '/patient/all' }
            ]"
          >
          </app-sidebar-items>
          <app-sidebar-items
            groupeName="echantillion"
            groupeTitle="Echantillion"
            icon="droplet"
            [routes]="[
              { name: 'Nouveau echantillion', path: '/addEchantillon' },
              { name: 'Gestion des Echantillon', path: '/echantillon/all' }
            ]"
          ></app-sidebar-items>
          <app-sidebar-items
            groupeName="planification"
            groupeTitle="Planification"
            icon="calendar"
            [routes]="[
              { name: 'Nouveau Planification', path: '/addPlanification' },
              { name: 'Gestion des Planification', path: '/planification/all' }
            ]"
          ></app-sidebar-items>
          <app-sidebar-items
          groupeName="analyse"
          groupeTitle="Analyse"
          icon="activity"
          [routes]="[
            { name: 'Ajouter Analyse', path: '/addAnalyse' },
            { name: 'Gestion des Analyses', path: '/analyse/all' }
           
          ]"
        ></app-sidebar-items>
        <app-sidebar-items
        groupeName="utilisateur"
        groupeTitle="Utilisateur"
        icon="user-plus"
        [routes]="[
          { name: 'Ajouter Utilisateur', path: '/addUser' },
          { name: 'Gestion des Utilisateurs', path: '/user/all' }
        ]"
      ></app-sidebar-items>
      <app-sidebar-items
      groupeName="fournisseur"
      groupeTitle="Fournisseur"
      icon="truck"
      [routes]="[
        { name: 'Ajouter Fournisseur', path: '/addSupplier' },
        { name: 'Gestion des Fournisseur', path: '/supplier/all' }
      ]"
    ></app-sidebar-items>
    <app-sidebar-items
    groupeName="reactif"
    groupeTitle="Reactif"
    icon="list"
    [routes]="[
      { name: 'Ajouter Reactif', path: '/addReactif' },
      { name: 'Gestion des Reactifs', path: '/reactif/all' }
    ]"
  ></app-sidebar-items>

        </div>
      </div>
    </nav>
  </div>

