<!-- sidebar-items.component.html -->
<div class="sidenav-menu-heading fixed-width-sidebar row">{{ groupeName }}</div>
<a
  class="nav-link collapsed"
  href="javascript:void(0);"
  data-toggle="collapse"
  [attr.data-target]="'#' + collapseId"
  aria-expanded="false"
  [attr.aria-controls]="collapseId"
>
  <div class="nav-link-icon"><i [attr.data-feather]="icon"></i></div>
  {{ groupeTitle }}
  <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" [attr.id]="collapseId" data-parent="#accordionSidenav">
  <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
    <a
      *ngFor="let route of routes"
      (click)="navigateToRoute(route)"
      class="nav-link"
      style="cursor: pointer;"
      >{{ route.name }}</a
    >
  </nav>
</div>
